*.рус
.DS_Store
.AppleDouble
.LSOverride
*.log
local_settings.py
db.sqlite3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
media/photos
